/* Styling for the foodfetchers website */

/* General */
:root {
	/* Vars */
	--scrollbar-width: calc(100vw - 100%);
	
	/* Colors */
	--lightgreen: #c3ffaf;
	--green: #50c928;
	--darkgreen: #31701c;
}

body {
	margin: 0;
	font-family: Arial;
	min-height: 150vh; /* for testing purposes until we get more content */
}

#background {
	background-image: url(Images/background.jpg);
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	display: block;
	z-index: -10;
}

h1, h2, h3 {
	text-align: center;
	font-family: Ubuntu, Arial;
}

h3, p {
	margin-block-start: 0;
}

/* Forms */
input[type=text], input[type=email], input[type=password], input[type=number] {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: border 200ms;
	margin-bottom: 2px;
}

input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, input[type=number]:hover, input[type=submit]:hover, input[type=reset]:hover {
	border-color: #888;
	transition: 0ms;
}

input[type=text]:active, input[type=email]:active, input[type=password]:active, input[type=number]:active, input[type=submit]:active, input[type=reset]:active {
	border-color: #444;
	transition: 0ms;
}

input[type=submit], input[type=reset] {
	padding: 5px 16px;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: border 200ms;
}

input[type=checkbox] {
	height: 16px;
	width: 16px;
}

/* Header */
#header {
	font-size: 18px;
	color: black;
	background-color: rgba(255,255,255,0.9);
	height: 90px;
	padding: 0 10px;
	box-shadow: 0 0 8px rgba(0,0,0,0.7);
}

#logo {
	float: left;
	height: 90px;
}

#nav {
	display: flex;
	float: right;
	align-items: center;
	height: 100%;
	text-align: center;
}

#nav a {
	color: black;
	text-decoration: none;
	transition: 150ms;
	border: 3px solid transparent;
	padding: 14px 12px;
	border-radius: 5px;
}

#nav a:hover {
	background-color: rgba(255,255,255,0.5);
	border: 3px solid var(--green);
	transition: 0ms;
}

#logout {
	text-align: center;
	padding: 0 10px;
	cursor: default;
}

#logout a {
	padding: 1px;
	cursor: pointer;
	border: 2px solid transparent;
}

#logout a:hover {
	border: 2px solid var(--green);
}

/* Content */
#Content {
	border-radius: 15px;
	background-color: var(--lightgreen);
	text-align: center;
	max-width: 1000px;
	margin: 40px auto;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Interested Banner */
#interested {
	border-radius: 15px;
	background-color: var(--lightgreen);
	position: fixed;
	bottom: 0;
	margin-bottom: 20px;
	text-align: center;
	color: black;
	box-shadow: 0 0 6px rgba(0,0,0,0.7);
	padding: 4px 10px;
	cursor: pointer;
	transition: background-color 200ms;
	transform: translate(calc(50vw - 50%));
	margin-left: calc(-0.5 * var(--scrollbar-width));
	margin-right: var(--scrollbar-width);
}

#interested h1 {
	margin-block-start: 0px;
	margin-block-end: 0px;
}

#interested a {
	color: black;
	text-decoration: none;
}

#interested:hover {
	background-color: var(--green);
	transition: 50ms;
}