            #plan-display{
                width: 75vw;
                height:calc(90% - 80px);
                margin: 2.5vh auto 0 auto;
                background-color: var(--color2-darkGreyT);
                display:flex;
                flex-wrap: wrap;
                align-content: flex-start;
                overflow:hidden auto;
                scroll-padding: .9vh 1vw;
                border-top: 1vh solid rgba(0,0,0,0);
                border-bottom: 1vh solid rgba(0,0,0,0);
                scrollbar-width: none;
                scroll-behavior: smooth;
            }
            #plan-display::-webkit-scrollbar {
                display: none;
            }
            .plan-title{
                width:100%;
                height:10%;
                padding: .5vh 1vw;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2px;
            }
            .plan-title-text{
                font-size: min(5vh,4vw);
                margin: 0;
                background-color: var(--color1-white);
                width: calc(100% - 2vw);
                height: 100%;
                display: flex;
                justify-content: left;
                align-items: center;
                padding: 0 1vw;
            }
            .plan-title-text:after {
                content: "\002B";
                color: #777;
                font-weight: bold;
                margin-left: auto;
                align-items: center;
                display: flex;
            }
            .open{
                background: linear-gradient(0deg, var(--color1-white) 0%, rgb(233, 233, 233) 71%, rgb(228, 228, 228) 90%);
                box-shadow: 0 0 4px rgba(0,0,0,0.3);
            }
            .open:after {
                content: "\2212";
            }
            .buttons {
                height: 100%;
                width: 10%;
                border-radius: 0;
                border: 2px solid transparent;
                background-color:var(--color1-white);
                text-align: center;
                font-family: arial;
                color: black;
                text-decoration:none;
                font-size: 2vh;
                display:none;
            }
            .buttons p{
                margin:0;
            }
            .buttons:hover{
                border-color: var(--green);
                text-decoration:none;
            }
            .view-meal{
                height: 0;
                width:100%;
                transition: height .4s ease-out, width .4s ease-out;
            }
            .week-display {
                height:calc(90% - 3vh);
                display:flex;
                flex-direction: row;
                padding: 1vh 1vw;
                gap: 1vw;
                flex:1;
                overflow: hidden;
                //display:none;
            }
            .week-display h2{
                font-size: min(3.2vh,1.8vw);
                border-bottom: 1px solid black;
                padding: 0 0 1.25vh 0;
                margin-bottom: 0;
            }
            .week-display ol{
                padding: 0 0 0 .5vw;
                font-size: min(2.5vh,2vw);
                list-style-position: inside;
            }
            .day {
                height: calc(100% - 2vh );
                width: 100%;
                flex:1;
                background-color: var(--color1-white);
                box-shadow: 0 0 4px rgba(0,0,0,0.3);
                padding: 0vh .5vw; 1vh .5vw;
                display: flex;
                flex-direction: column;
            }
            .day-tile-content{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow-y:auto;
                overflow-x:hidden;
            }
            .view-ingredients{
                width:0;
                height:0;
                transition: height .4s ease-out, width .4s ease-out;
                overflow:hidden;
            }
            .ingredients-display{
                //width:100%;
                height: calc(100% - 2vh);
                margin: 1vh 1vw;
                background-color: var(--color1-white);
                display: flex;
                flex-flow: row wrap;
                align-content: flex-start;
            }
            .back-button{
                width: 10%;
                height: 10%;
                border: 0;
                font-size: min(3.2vh, 1.8vw);
                overflow: hidden;
                white-space: nowrap;
            }
            .print-icon{
                height: min(3.2vh, 1.8vw);
            }
            .ingredients-title{
                height:10%;
                width: calc(80% - 7vw);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: min(5.8vh, 2.5vw);
                overflow:hidden;
                margin: 2vh 3.5vw 1vh 3.5vw;
                border-bottom: 1px solid black;
            }
            .ingredients-section{
                height: calc(90% - 2vh);
                width:100%;
                padding: 3vh 0 3vh 6vw;
                overflow: hidden auto;
            }
            .ingredients-list{
                column-count:2;
                margin: auto;
                width: 75%;
                
            }
            .print-list{
                list-style: none;
                column-count: 1;
            }
            .print-list li{
                padding-left:.75vw;
            }
            .print-list li::marker{
                content:"\2610";
            }
            #bottom-spacer{
                height: calc(90% - 1vh);
                width:100%;
            }
            #new-plan{
                width: 10.5vw;
                background-color: var(--color1-white);
                margin: auto;
                position: fixed;
                right: 1.5vw;
                top: calc(80px + 2.5vh);
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                overflow:hidden;
                font-size: min(1.25vw, 2.8vh);
                color:  #1a1a1a;
                text-align:center;
                text-decoration:none;
                box-shadow: 0 0 4px rgba(0,0,0,0.3);
            }
            #new-plan p{
                margin: 1vh 1vw;
            }
            #new-plan:hover #plus{
                color: var(--color2-darkGreyT);
            }
            #new-plan:hover {
                color: var(--color2-darkGreyT);
            }
            #plus{
                line-height: min(8.5vw, calc(75vh - 80px));
                font-size: min(10.5vw, calc(75vh - 80px));
                color: #777;
                
            }
            #scroll-image{
                position: fixed;
                height: 30vh;
                left: 88vw;
                bottom: 5.5vh;
                pointer-events: none;
                filter: invert(1);
                background-color: rgba(255,255,255,.4);
                display: none;
            }
            .submit-clear{
                width: calc(100% - 2vw);
                height:10%;
                display:flex;
                flex-direction:row;
                padding: 0 1vw;
            }
            .submit-clear input{
                width:100%;
                height:100%; 
                font-size:2vh; 
                border-radius: 0;
                padding:0;
                border:0;
                background: linear-gradient(190deg, var(--color1-white) 0%, rgb(228, 228, 228) 71%, rgb(222, 222, 222) 90%);
                font-size: min(4vh, 2.5vw);
            }
            .submit-clear input:hover{
                background: rgb(210, 210, 210);
            }
            .print-page, .print-header, .print-footer{
                display:none;
            }
            @media print{
                @page { 
                    margin: 0; 
                }
                #background{
                    display:none;
                }
                .print-page{
                    display:block;
                }
                .header-pad{
                    height: 1.75in;
                    width:100%;
                }
                .footer-pad{
                    height: 1in;
                    width:100%;
                }
                .print-header{
                    position:fixed;
                    top:0;
                    padding: .5in .5in 0 .5in;
                    height: 1.25in;
                    display:block;
                }
                #print-title{
                    font-size:6vh;
                    border-bottom: 1.25px solid black;
                    width: 100vw;
                }
                #print-subtitle{
                    font-size: 3vh;
                    padding-left: 1vw;
                }
                #print-info{
                    padding-left: 5vw;
                }
                .print-footer{
                    position:fixed;
                    bottom:0;
                    margin: .5in .5in 0 .5in;
                    
                    height: .5in; width: calc(100vw - 1.05in); border-top: 1.25px solid black;
                    display:block;
                }
                .print-header {
                    
                }
                .print-footer {
                    padding: 0 .5in .5in .5in;
                }
                .print-footer img{
                    padding-top: .58vh;
                    width: 30%;
                    position:fixed;
                    left:.5in;
                }
            }
            @media screen and (max-width: 412px){
                #new-plan{
                    top: unset;
                    bottom: 1vh;
                    right: 12.5vw;
                    width: 75vw;
                }
                .view-ingredients{
                    height: calc(90% - 6vh);
                }
                .view-meal{
                    height: calc(90% - 6vh);
                }
                .week-display{
                    flex-direction: column;
                }
}
/* meal tile: element for each meal with image and name */
            .meal-tile{
                border: 0;
                position: relative;
                background-color: var(--color1-white);
                height: 7.5vh;
                width: 100%;
                text-align: center;
                align-items: center;
                cursor: pointer;
                flex-shrink:0;  
                margin: 0;
            }
            .meal-tile-text{
                width: 100%;
                position: absolute;
                text-align: center;
                background-color: rgba(244,244,244,.8);
                font-size: min(3vh,1vw);
                color: black;
            }
            .meal-tile-cover{
                display: none;
                position: absolute;
                background-image: url(Images/plus.png);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
                height: 100%;
                width: 100%;
            }
            